<ul class="navbar-nav flex-grow-1 d-flex gap-3 ms-5">
    <li class="nav-item px-2">
        <a class="nav-link text-white fw-bold d-flex align-items-center" style="font-size: 18px; transition: 0.3s;"
           asp-area="" asp-controller="pub" asp-action="Labs">
            <i class="fa fa-flask me-1"></i> Laboratories
        </a>
    </li>

    <li class="nav-item px-2">
        <a class="nav-link text-white fw-bold d-flex align-items-center" style="font-size: 18px; transition: 0.3s;"
           asp-area="" asp-controller="pub" asp-action="Equipment">
            <i class="fa fa-toolbox me-1"></i> Equipment
        </a>
    </li>
    <li class="nav-item px-2">
        <a class="nav-link text-white fw-bold d-flex align-items-center" style="font-size: 18px; transition: 0.3s;"
           asp-area="" asp-controller="pub" asp-action="Departments">
            <i class="fa fa-home me-1"></i> Departments
        </a>
    </li>
    <li class="nav-item px-2">
        <a class="nav-link text-white fw-bold d-flex align-items-center" style="font-size: 18px; transition: 0.3s;"
           asp-area="" asp-controller="pub" asp-action="Contact">
            <i class="fa fa-address-book me-1"></i> Contact Us
        </a>
    </li>
</ul>

<ul class="navbar-nav ms-auto">
    <li class="nav-item px-2">
        <a class="nav-link text-white btn btn-sm border fw-bold d-flex align-items-center" style="font-size: 18px; transition: 0.3s;"
           asp-area="" asp-controller="pub" asp-action="LogIn">
            <i class="fa fa-lock me-1"></i> Log In
        </a>
    </li>
</ul>