@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
  
    int? userId = HttpContextAccessor.HttpContext.Session.GetInt32("UserId");
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LEMS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LEMS.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/icon/fontawesome/styles.min.css" /></head>
<body>

    <header>
        <nav class="navbar navbar-expand-sm  navbar-toggleable-sm navbar-light  border-bottom box-shadow py-0" style="background-color: rgb(45, 108, 162);">
            <div class="container py-0">
                <a class="navbar-brand" href="#">
                    <img src="~/images/logo.png" alt="University Logo" width="80">
                </a>
                <a class="navbar-brand text-white" style="font-size: 28px;" asp-area="" asp-controller="Home" asp-action="Index">
                    HU-LEMS
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
              
                 <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                   
                     @if (userId == null)
                    {
                     <partial name="Components/menu/_pub" />
                    }
                    else
                    {
                      var role = HttpContextAccessor.HttpContext.Session.GetString("RoleName");
                    if (role == "admin")
                    {
                        <partial name="Components/menu/_admin" />
                    }
                    else if (role == "lab technical")
                    {
                        <partial name="Components/menu/_pub" />
                    }
                    }
                    
                </div> 


            </div>
        </nav>
    </header>
  
    <div class="container mt-4">
        @RenderBody()
    </div>

    <footer class="border-top footer text-muted text-white-50 bg-dark">
        <div class="container">
            &copy; 2025 - LEMS - <a class="text-white-50" asp-area="" asp-controller="Pub" asp-action="About">Hawassa University Application Development Team</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

